/*-----Assalamualaikum-----*/

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #f5f8ff;
}
.hide {
  display: none;
}

/* Shared item */
button {
  transition: all 0.5s ease;
}
button:hover {
  background: linear-gradient(
    45deg,
    rgb(233, 90, 8),
    rgb(255, 136, 0),
    rgb(255, 191, 0)
  );
  color: white;
}

.bold {
  font-weight: 700;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
figure img {
  max-width: 100%;
  height: auto;
  display: block;
}
.span-style {
  color: rgb(233, 90, 8);
}
.p-text-style {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
}
.heading-style {
  font-size: 3rem;
  line-height: 68px;
  text-align: center;
}
.btn-primary {
  width: 100%;
  max-width: 270px;
  height: 50px;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  background: rgb(233, 90, 8);
  border: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.w-full {
  width: 100%;
}

/* only-small */
.only-small {
  display: none;
  visibility: hidden;
}

/* Nav var */

header nav {
  margin-top: 30px;
  height: 71px;
  align-items: center;
}
nav div ul {
  display: flex;
  gap: 48px;
}
nav div ul li {
  list-style: none;
}
nav div ul li a {
  text-decoration: none;
  font-size: 1rem;
}
nav div ul li a.active {
  font-weight: 700;
  color: rgb(37, 36, 50);
}
nav div ul li a.dactive {
  color: rgb(137, 135, 161);
}
nav div ul li .no {
  color: rgb(0, 0, 0);
}

/* Nav var end */

/* Banner start */

.banner {
  width: 100%;
  height: 355px;
  margin-top: 120px;
  align-items: flex-end;
}

.banner .banner-dscp {
  width: 100%;
  max-width: 570px;
}
.banner .banner-dscp h1 {
  font-size: 4rem;
  line-height: 89px;
}

/* Banner end */

/* Main part start */

/* Our plants start  */

.our-plants {
  width: 100%;
  max-width: 888px;
  margin: 120px auto 0px;
  text-align: center;
}

/* Our plants end */

/* Grid Item start */
.grid-item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 49px;
  row-gap: 35px;
}

.grid-item-container .card {
  text-align: center;
  width: 100%;
  max-width: 270px;
  height: auto;
}
.grid-item-container .card h5 {
  color: rgb(17, 17, 17);
  padding-top: 20px;
  font-size: 1.1rem;
}
.grid-item-container .card h6 {
  color: rgb(17, 17, 17);
  padding-top: 20px;
  font-size: 1.3rem;
}
.grid-item-container .card h6 {
  font-weight: bold;
  padding-bottom: 20px;
}

/* Grid Item end */

/* Challenge part-1 Start */

.ch-1 {
  gap: 60px;
  margin-top: 200px;
}
.ch-1 .photo {
  position: relative;
}
.ch-1 .photo .fig-2-div {
  position: absolute;
  width: 100%;
  max-width: 280px;
  height: 280px;
  top: -130px;
  right: -120px;
  display: inline-block;
  overflow: visible;
}
.ch-1 .photo .fig-2-div figure .fig-2 {
  width: 100%;
  height: auto;
  filter: drop-shadow(-4px 10px 2px rgba(0, 0, 0, 0.25));
  animation: spin 3s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ch-1-dscp-container {
  width: 100%;
  text-align: left;
  flex: 1;
}
.ch-1-dscp-container h1 {
  text-align: left;
  font-weight: bold;
  padding-top: 70px;
}
.ch-1-dscp-container p {
  padding-top: 35px;
}

/* Challenge part-2 start */

.latest-deals {
  width: 100%;
  max-width: 888px;
  margin: 120px auto 0px;
  text-align: center;
}
.ch-2 {
  width: 100%;
  display: grid;
  height: 425px;
  gap: 28px;
  grid-template-columns: calc(35% - 14px) calc(65% - 14px);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 120px;
  overflow: hidden;
}
.ch-2 .small-one {
  background: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)),
    url("../assets/./deal-ana.png");
  border-radius: 10px;
  grid-column: 1;
  grid-row: 1;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  border: none;
}
.ch-2 .small-two {
  background: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)),
    url("../assets/./deal-bloom.png");
  border-radius: 10px;
  grid-column: 1;
  grid-row: 2;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  border: none;
}
.ch-2 .big-one {
  background: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)),
    url("../assets/./deal-zabo.png");
  border-radius: 10px;
  grid-column: 2;
  grid-row: 1 / span 2;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  border: none;
}
.ch-2 .small-one .flower-dscp {
  width: 100%;
  max-width: 200px;
  text-align: center;
}
.ch-2 .small-two .flower-dscp {
  width: 100%;
  max-width: 250px;
  text-align: center;
}
.ch-2 .big-one .flower-dscp {
  width: 100%;
  max-width: 350px;
  text-align: center;
}
.ch-2 .big-one .flower-dscp div {
  width: 100%;
  max-width: 113px;
  margin: 10px auto;
  text-align: center;
  border-bottom: 2px solid white;
  font-size: 1.5rem;
}
.ch-2 .small-one .flower-dscp div,
.ch-2 .small-two .flower-dscp div {
  width: 100%;
  max-width: 78px;
  margin: 10px auto;
  text-align: center;
  border-bottom: 2px solid white;
  font-size: 1rem;
}

/* Challenge part-2 and */

/* Join Part Start */

.join-part {
  width: 100%;
  height: 400px;
  margin-top: 120px;
  background: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-part .join-dscp {
  width: 100%;
  max-width: 900px;
  text-align: center;
  height: 140px;
}
.join-part .join-dscp h1 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
.join-part .join-dscp .input-form {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  text-align: left;
  gap: 0;
  margin-top: 25px;
}
.join-part .join-dscp .input-form input {
  width: 80%;
  border: none;
  padding-left: 10px;
}
.join-part .join-dscp .input-form div button {
  width: 160px;
  height: 50px;
  border: none;
  color: white;
  background: rgb(233, 90, 8);
  font-weight: 600;
}

/* Join Part End */

/* Footer Start */

footer {
  width: 100%;
  height: 348px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.foot-content {
  width: 100%;
  max-width: 1120px;
  height: 248px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.foot-content .logo-dscp {
  width: 100%;
  max-width: 300px;
}
.foot-content .logo-dscp p {
  padding-top: 16px;
}
.foot-content div .ul-1,
.foot-content div .ul-2 {
  width: 100%;
  max-width: 120px;
  /* border: 1px solid black; */
  height: 240px;
}
.foot-content div .ul-1 li,
.foot-content div .ul-2 li {
  list-style: none;
  padding-top: 30px;
}
.foot-content div .ul-1 .no-pad,
.foot-content div .ul-2 .no-pad {
  padding-top: 0px;
}

.foot-content .ul-1 li a,
.foot-content .ul-2 li a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(107, 114, 128);
}
.foot-content .social-media {
  width: 100%;
  max-width: 200px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 17px;
}

/*-------Responsive Design-------*/

@media screen and (max-width: 576px) {
  /* only-small */
  .only-small {
    width: 90%;
    margin: 10px auto;
    display: flex;
    visibility: visible;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 24px;
  }

  /* Navbar start */

  nav {
    width: 100%;
    height: auto;

    padding: 0 6px;
  }
  nav div ul li a.active,
  nav div ul li a.dactive {
    display: none;
  }

  /* Navbar End */

  /* Banner Part Start */

  .banner {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    
  }
  .banner .banner-dscp {
    width: 95%;
    margin: 0 auto;
    padding: 33px 0 0 0;
  }
  .banner .banner-dscp p {
    padding: 20px 0 0 0;
  }
  .banner .banner-dscp h1 {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .banner .banner-dscp p,
  .our-plants p,
  .latest-deals p {
    font-size: 0.88rem;
  }

  /* Banner Part End */

  /* Main Part Start */

  .our-plants h1,
  .latest-deals h1 {
    font-size: 1.5rem;
  }
  .our-plants {
    width: 80%;
    height: auto;
  }
  .latest-deals {
    width: 87%;
    height: auto;
  }

  /* Grid-Container Start */

  .grid-item-container {
    padding: 0 6px;
    width: 95%;
    margin: 28px auto;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  /* Grid-Container End */

  /* Challenge Part-1 Start */

  .ch-1 .photo {
    width: 100%;
    height: auto;
  }
  .ch-1 {
    width: 95%;
    margin: 20px auto;
    height: auto;
    flex-direction: column;
    padding: 0 6px;
    gap: 0px;
  }
  .ch-1 .photo .fig-2-div {
    display: none;
  }
  .ch-1-dscp-container {
    width: 100%;
    height: auto;
    padding: 0 6px;
  }
  .ch-1-dscp-container p {
    font-size: 0.88rem;
    padding-top: 10px;
  }
  .ch-1-dscp-container h1 {
    padding-top: 0px;
    font-size: 1.5rem;
  }
  .ch-1-dscp-container h1 .break {
    display: none;
  }
  .ch-1-dscp-container ul {
    padding-left: 1.5rem;
  }

  /* Challenge Part-1 End */

  /* Challenge Part-2 */

  .ch-2 {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 6px;
  }
  .ch-2 .small-one {
    width: 90%;
    height: 220px;
    grid-row: 1;
    grid-column: auto;
    margin: 0 auto;
    font-size: 1.25rem;
  }
  .ch-2 .small-two {
    width: 90%;
    height: auto;
    grid-row: 2;
    grid-column: auto;
    margin: 0 auto;
    font-size: 1.25rem;
  }
  .ch-2 .big-one {
    font-size: 1.25rem;
    width: 90%;
    height: auto;
    grid-row: 3;
    grid-column: auto;
    margin: 0 auto;
  }
  .ch-2 .big-one .flower-dscp div {
    font-size: 1.25rem;
  }

  /* Challenge part-2 End */

  /* Join Part start */

  .join-part .join-dscp h1 {
    font-size: 1.25rem;
  }
  /* Join Part End */

  /* Footer Part start */
  footer {
    width: 100%;
    margin-top: 250px;
    margin-bottom: 20px;
  }
  .foot-content {
    width: 92%;
    margin: 0 auto;
    height: auto;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }
  /* Footer Part End */
}
